[submodule "spring-panditg"]
	path = spring-panditg
	url = https://github.com/VishwajeetLatpate/spring-panditg.git
[submodule "angular-pandit"]
	path = angular-pandit
	url = https://github.com/VishwajeetLatpate/angular-pandit.git
